@charset "UTF-8";

header {
	text-align: center;
	padding: 1.5rem;
	background-image: url("../images/road-1072823.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

#button {
	text-align: right;
	padding: 8px;
}

/* 
id 값이 button으로 설정된 box에 소속되어 있는 
button tag 에만 style을 지정하자
*/
#button button {
	background-color: #1076ca;
	color: white;
	border: none;
	/*
    padding,  에서 많이 사용하는 단위
    rem : 내부의 크기를 1로 하여 비례적으로 적용하는 값
    의 경우 표준 에서 제정한 값으로 
    Top, Bottom : 8px, Left, Right : 16px
    */
	padding: 8px 16px;
	vertical-align: middle;
	cursor: pointer;
	/*
            에서 밑줄 효과를 주고자 할때
            화면이 흔들이는 현상을 막기 위해서
            기본 테두리의  을 투명색으로 같은 
            */
	border-bottom: 2px solid transparent;
}

#button button:hover {
	background-color: honeydew;
	color: black;
	border-bottom: 2px solid green;
}
		/*
        marign, padding 의 값지정
        4개의 값 : Top부터 시계방향으로 1개씩 지정
        2개의 값 : Top, Bottom 그리고 Left, Right
        */
#blog_body {
	width: 80%;
	border: 1px solid green;
	/*
    blog_body  box의 Top,  Bottom 여백을 10px로 하고 
    Left, Righ 여백은 바깥쪽 box 크기를 계산하여
    같은 값으로 자동 조절하라라는 의미
    == blog_body를 좌우 중앙에 정렬하는 용도로 많이 쓰인다
    */
	margin: 10px auto;
	
}



.blog_title {
	background-color: teal;
	padding: 8px;
	color: white;
}

.blog_title:hover {
	color: blue;
}

.blog_text {
	padding: 8px;
}

/*
를 감싸고 있는 바깥 의 색상을 그대로 상속받아라
는 자신만의 고유의 색상표를 가지고 있다.
고유한 색상표가 때로는 을 흐트러뜨리는 원인이 된다.
가장 대표적인
*/
a {
	text-decoration: none;
	color: inherit;
}

footer {
	background-color: blue;
	text-align: center;
	padding: 8px;
	color: greenyellow;
}